In [20]:
import pandas as pd
datos = pd.read_csv("datosclientes.csv")
print(datos.head())
print(f"Filas: {datos.shape[0]}, Columnas: {datos.shape[1]}")
datos = datos.dropna() #eliminar datos nulos

   codigo                          nombre                         direcc1  \
0       1            CANO & K GROUP, S.A.  CARRASQUILLA CALLE 65 CASA 655
1       2           DIOGENES MORA TENORIO                          PANAMA
2       3  AMILCAR OQUENDO, MORALES SUIRA                           DAVID
3       4      ANELYS DENEY, ARCIA GARCIA                          PANAMA
4       5           ANIBAL TREJOS, BEITIA          DAVID, FRANCISCO CLARK

        direcc2       fecha   debito  credito  saldo
0           NaN  2025-04-08   108.81   108.81    0.0
1           NaN  2025-02-03   486.16   486.16    0.0
2  LOS ABANICOS  2025-03-11  1363.63  1363.63    0.0
3           NaN  2025-03-20   109.73   109.73    0.0
4           NaN  2025-04-29  4073.89  4073.89    0.0
Filas: 2709, Columnas: 8

In [ ]:
# ANALISIS EXPLORATORIO DE DATOS
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2709 entries, 0 to 2708
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   codigo   2709 non-null   int64
 1   nombre   2709 non-null   object
 2   direcc1  2708 non-null   object
 3   direcc2  214 non-null    object
 4   fecha    2708 non-null   object
 5   debito   2708 non-null   float64
 6   credito  2707 non-null   float64
 7   saldo    2707 non-null   float64
dtypes: float64(3), int64(1), object(4)
memory usage: 169.4+ KB

In [ ]:
datos.describe()
# count = significa el numero de filas
# mean = el promedio de los valores
# std = aber si los datos son parecidos o muy diferentes
# insights : "Los códigos empiezan en 1 y terminan en 2709
# significa que no hay saltos grandes, no hay códigos negativos y no hay valores fuera de rango"

            codigo        debito       credito         saldo
count  2709.000000   2708.000000   2707.000000   2707.000000
mean   1355.000000   1117.122740   1109.442006     -8.093413
std     782.165264   4016.966104   3855.872099    478.696379
min       1.000000      0.000000      0.000000 -16074.360000
25%     678.000000      9.977500     10.085000      0.000000
50%    1355.000000     58.405000     59.810000      0.000000
75%    2032.000000    466.255000    465.670000      0.000000
max    2709.000000  73900.670000  62373.830000   6500.640000

In [24]:
# Filtro 1: clientes con saldo mayor a 1000
filtro1 = datos[datos["saldo"] > 1000]
print("\n--- Filtro 1: Saldo mayor a 1000 ---")
print(filtro1)

# Filtro 2: clientes con debito mayor a 500
filtro2 = datos[datos["debito"] > 500]
print("\n--- Filtro 2: Débito mayor a 500 ---")
print(filtro2)

# Filtro 3: clientes con credito mayor a 0
filtro3 = datos[datos["credito"] > 0]
print("\n--- Filtro 3: Crédito mayor a 0 ---")
print(filtro2)

--- Filtro 1: Saldo mayor a 1000 ---
Empty DataFrame
Columns: [codigo, nombre, direcc1, direcc2, fecha, debito, credito, saldo]
Index: []

--- Filtro 2: Débito mayor a 500 ---
      codigo                                       nombre  \
2          3               AMILCAR OQUENDO, MORALES SUIRA
10        11               ELVIS ALEXIS, SANTAMARIA PITTY
24        25               RICARDO LUIS, AZOFEIFA MORALES
39        40   ABDIEL , SANCHEZ CABALLERO ALUMINIOS COCLE
123      124           ALEJANDRINO , RODRIGUEZ MONTENEGRO
...      ...                                          ...
2476    2477                            SM INFRATEC,  S A
2509    2510  TALLER MOLYX GAONA , HERMOGENES GAONA  PEÑA
2635    2636               WALTER MISAEL, JUAREZ ENRIQUEZ
2670    2671   XIOMARA  , LOPEZ QUALITY WINDOWS&FURNITURE
2674    2675                   YAHAM CARLOS, CASTRO DEAGO

                           direcc1                       direcc2       fecha  \
2                            DAVID                  LOS ABANICOS  2025-03-11
10                       SAN MATEO               DAVID, CHIQIRUI  2025-01-31
24                        CHIRIQUI                    RIO SERENO  2025-01-13
39       RIO HATO-GUIAS DE ORIENTE                PROV. DE COCLE  2025-05-08
123   LAS TABLAS, PROV. LOS SANTOS                VIA EL UVERITO  2025-05-14
...                            ...                           ...         ...
2476                        PANAMA  Tocumen watehouse bodega 12b  2025-04-25
2509            PROVINCIA DE COCLE             DISTRITO DE ANTON  2025-05-13
2635         PUEBLO NUEVO CALLE 22                       LOCAL 2  2025-05-14
2670               CANTO DEL LLANO          CALLE DECIMA, CASA 1  2025-05-07
2674                LOS ANASTACIOS                  RINCON LARGO  2025-05-09

        debito   credito   saldo
2      1363.63   1363.63    0.00
10     2958.83   2958.83    0.00
24      518.02    518.02    0.00
39     2789.35   3696.37  907.02
123   10994.38  10994.38    0.00
...        ...       ...     ...
2476   2639.24   2639.24    0.00
2509   4009.77   4009.77    0.00
2635   1175.00   1175.00    0.00
2670  11991.82  11991.82    0.00
2674   3684.07   3684.07    0.00

[105 rows x 8 columns]

--- Filtro 3: Crédito mayor a 0 ---
      codigo                                       nombre  \
2          3               AMILCAR OQUENDO, MORALES SUIRA
10        11               ELVIS ALEXIS, SANTAMARIA PITTY
24        25               RICARDO LUIS, AZOFEIFA MORALES
39        40   ABDIEL , SANCHEZ CABALLERO ALUMINIOS COCLE
123      124           ALEJANDRINO , RODRIGUEZ MONTENEGRO
...      ...                                          ...
2476    2477                            SM INFRATEC,  S A
2509    2510  TALLER MOLYX GAONA , HERMOGENES GAONA  PEÑA
2635    2636               WALTER MISAEL, JUAREZ ENRIQUEZ
2670    2671   XIOMARA  , LOPEZ QUALITY WINDOWS&FURNITURE
2674    2675                   YAHAM CARLOS, CASTRO DEAGO

                           direcc1                       direcc2       fecha  \
2                            DAVID                  LOS ABANICOS  2025-03-11
10                       SAN MATEO               DAVID, CHIQIRUI  2025-01-31
24                        CHIRIQUI                    RIO SERENO  2025-01-13
39       RIO HATO-GUIAS DE ORIENTE                PROV. DE COCLE  2025-05-08
123   LAS TABLAS, PROV. LOS SANTOS                VIA EL UVERITO  2025-05-14
...                            ...                           ...         ...
2476                        PANAMA  Tocumen watehouse bodega 12b  2025-04-25
2509            PROVINCIA DE COCLE             DISTRITO DE ANTON  2025-05-13
2635         PUEBLO NUEVO CALLE 22                       LOCAL 2  2025-05-14
2670               CANTO DEL LLANO          CALLE DECIMA, CASA 1  2025-05-07
2674                LOS ANASTACIOS                  RINCON LARGO  2025-05-09

        debito   credito   saldo
2      1363.63   1363.63    0.00
10     2958.83   2958.83    0.00
24      518.02    518.02    0.00
39     2789.35   3696.37  907.02
123   10994.38  10994.38    0.00
...        ...       ...     ...
2476   2639.24   2639.24    0.00
2509   4009.77   4009.77    0.00
2635   1175.00   1175.00    0.00
2670  11991.82  11991.82    0.00
2674   3684.07   3684.07    0.00

[105 rows x 8 columns]

In [27]:
# Crear columna saldo_final
datos["saldo_final"] = datos["saldo"] + datos["credito"] - datos["debito"]

# Crear columna categoria_saldo
datos["categoria_saldo"] = "Bajo"   # primero asignamos lo mismo a todos

# Luego cambiamos condiciones básicas
datos.loc[datos["saldo"] > 500, "categoria_saldo"] = "Medio"
datos.loc[datos["saldo"] > 2000, "categoria_saldo"] = "Alto" # el loc...sirve para elegir filas con una condición y cambiar o ver solo esas partes del DataFrame.
print(datos.head())

    codigo                          nombre                     direcc1  \
2        3  AMILCAR OQUENDO, MORALES SUIRA                       DAVID
10      11  ELVIS ALEXIS, SANTAMARIA PITTY                   SAN MATEO
15      16         H & H CONSTRUCTORA  S A  PANAMA VERAGUAS , SANTIAGO
17      18               ISMAEL , BEJERANO                    CHIRIQUI
21      22     MANUEL ANDRES, QUIEL RIVERA                    CHIRIQUI

                                          direcc2       fecha   debito  \
2                                    LOS ABANICOS  2025-03-11  1363.63
10                                DAVID, CHIQIRUI  2025-01-31  2958.83
15  URBANIZACION RIO ESCONDIDO  CALLE 2DA CASA 42  2025-01-23    61.97
17                           BOQUETE ALTO BOQUETE  2025-01-14   192.75
21                                         DOLEGA  2025-01-08   286.17

    credito  saldo  saldo_final categoria_saldo
2   1363.63    0.0          0.0            Bajo
10  2958.83    0.0          0.0            Bajo
15    61.97    0.0          0.0            Bajo
17   192.75    0.0          0.0            Bajo
21   286.17    0.0          0.0            Bajo

In [28]:
# Promedio de saldo por categoría
promedio_saldo = datos.groupby("categoria_saldo")["saldo"].mean()
print(promedio_saldo) # calcula el prodmedio del saldo segun la categoria
                       # osea agrupa los datos por categoria y obtiene el saldo
                       #promedio de cada grupo

# Conteo por dirección (direcc1)
clientes_por_direccion = datos.groupby("direcc1")["codigo"].count()
print(clientes_por_direccion) #cuenta cuantos clientes hay en cada direccion,
                               #agrupando por la columna de direccion y mostrando cuantos registros pertencen a cada uno.

categoria_saldo
Bajo    -137.518863
Medio    900.340000
Name: saldo, dtype: float64
direcc1
ALTOS DE CERRO VIENTO                                   1
ALTOS DEL LAGO                                          2
ANASTACIOS                                              1
ARRAIJAN  CORR JUAN DEMOSTENES                          1
AV NACIONAL                                             1
                                                       ..
VACAMONTE ALTOS DEL TECAL                               1
VIA INTERAMERICANA                                      1
VILLA CACERES                                           1
VILLA GUADALUPE ,SECTOR C ,CASA 73A UN COSTADO DE LA    1
VILLA LUCRE-CASA 19                                     1
Name: codigo, Length: 126, dtype: int64