In [26]:
import pandas as pd

# Cargar archivo CSV
data = pd.read_csv("carsdataset.csv")

# Ver primeras filas
print(data.head())

# Ver dimensiones
print(f"Filas: {data.shape[0]}, Columnas: {data.shape[1]}")

       Company     Unnamed: 1   Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
0      FERRARI  SF90 STRADALE           V8    3990 cc     963 hp   340 km/h
1  ROLLS ROYCE        PHANTOM          V12    6749 cc     563 hp   250 km/h
2         Ford            KA+  1.2L Petrol   1,200 cc   70-85 hp   165 km/h
3     MERCEDES        GT 63 S           V8   3,982 cc     630 hp   250 km/h
4         AUDI     AUDI R8 Gt          V10   5,204 cc     602 hp   320 km/h

  Unnamed: 6       Unnamed: 7       Unnamed: 8 Unnamed: 9   Unnamed: 10
0    2.5 sec       $1,100,000  plug in hyrbrid          2        800 Nm
1    5.3 sec         $460,000           Petrol          5        900 Nm
2   10.5 sec  $12,000-$15,000           Petrol          5  100 - 140 Nm
3    3.2 sec         $161,000           Petrol          4        900 Nm
4    3.6 sec         $253,290           Petrol          2        560 Nm
Filas: 1218, Columnas: 11

In [8]:
print(df.shape)

(1218, 11)

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1218 entries, 0 to 1217
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Company      1218 non-null   object
 1   Unnamed: 1   1217 non-null   object
 2   Unnamed: 2   1217 non-null   object
 3   Unnamed: 3   1215 non-null   object
 4   Unnamed: 4   1217 non-null   object
 5   Unnamed: 5   1217 non-null   object
 6   Unnamed: 6   1212 non-null   object
 7   Unnamed: 7   1217 non-null   object
 8   Unnamed: 8   1217 non-null   object
 9   Unnamed: 9   1217 non-null   object
 10  Unnamed: 10  1217 non-null   object
dtypes: object(11)
memory usage: 104.8+ KB

In [12]:
data.describe()

,Company,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
count,1218,1217,1217,1215,1217,1217,1212,1217,1217,1217,1217
unique,35,1199,354,311,454,113,178,534,22,19,263
top,Nissan,Mistral,I4,1984 cc,355 hp,250 km/h,6.5 sec,"$35,000",Petrol,5,400 Nm
freq,149,2,64,31,23,145,45,36,871,692,72

In [28]:
data.columns

Index(['Company', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10'],
      dtype='object')

In [41]:
import pandas as pd #la tres estadisticas sencillas

data = pd.read_csv("carsdataset.csv")

print("total de autos: ", data.shape[0]) # .shape cuantas filas y columnas tiene el dataset y el 0 con el corshet significa que solo tiene que tomar las filas
print("total de columnas: ", data.shape[1]) # igual que el anterior pero con 1 agarra las columnas
print("primeras 4 filas:")
print(data.head(4)) # muestra las primeras 3 filas del dataset

total de autos:  1218
total de columnas:  11
primeras 4 filas:
       Company     Unnamed: 1   Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
0      FERRARI  SF90 STRADALE           V8    3990 cc     963 hp   340 km/h
1  ROLLS ROYCE        PHANTOM          V12    6749 cc     563 hp   250 km/h
2         Ford            KA+  1.2L Petrol   1,200 cc   70-85 hp   165 km/h
3     MERCEDES        GT 63 S           V8   3,982 cc     630 hp   250 km/h

  Unnamed: 6       Unnamed: 7       Unnamed: 8 Unnamed: 9   Unnamed: 10
0    2.5 sec       $1,100,000  plug in hyrbrid          2        800 Nm
1    5.3 sec         $460,000           Petrol          5        900 Nm
2   10.5 sec  $12,000-$15,000           Petrol          5  100 - 140 Nm
3    3.2 sec         $161,000           Petrol          4        900 Nm

In [43]:
import pandas as pd #Una columna nueva

data = pd.read_csv("carsdataset.csv")

data["nueva columna"] = "NUEVOOOOOO"

print(data.head())

       Company     Unnamed: 1   Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
0      FERRARI  SF90 STRADALE           V8    3990 cc     963 hp   340 km/h
1  ROLLS ROYCE        PHANTOM          V12    6749 cc     563 hp   250 km/h
2         Ford            KA+  1.2L Petrol   1,200 cc   70-85 hp   165 km/h
3     MERCEDES        GT 63 S           V8   3,982 cc     630 hp   250 km/h
4         AUDI     AUDI R8 Gt          V10   5,204 cc     602 hp   320 km/h

  Unnamed: 6       Unnamed: 7       Unnamed: 8 Unnamed: 9   Unnamed: 10  \
0    2.5 sec       $1,100,000  plug in hyrbrid          2        800 Nm
1    5.3 sec         $460,000           Petrol          5        900 Nm
2   10.5 sec  $12,000-$15,000           Petrol          5  100 - 140 Nm
3    3.2 sec         $161,000           Petrol          4        900 Nm
4    3.6 sec         $253,290           Petrol          2        560 Nm

  nueva columna
0    NUEVOOOOOO
1    NUEVOOOOOO
2    NUEVOOOOOO
3    NUEVOOOOOO
4    NUEVOOOOOO